# Dependencies
/node_modules

# Build and test output
/dist
/out-tsc
/coverage

# Angular cache
/.angular

# Temp files
/tmp
/.sass-cache
/connect.lock

# IDEs
/.idea
/.vscode
.project
.classpath
.settings/
*.sublime-workspace

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
